.gallery__image--active {
  view-transition-name: active-image;
}

.gallery__image {
  object-fit: cover;
  object-position: 50% 50%;
  aspect-ratio: 1;
}

.galleryWrapper {
  padding: 3rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Barlow Condensed", sans-serif;
}

.figure {
  font-size: 16px;
  font-weight: 700;
  display: block;
  cursor: pointer;
  background-color: var(--color);
  border: 2px solid #111;
  box-shadow: 5px 5px 0 1px #111;
}

.galleryImageWrapper {
  overflow: hidden;
  position: relative;
  background-color: hsl(0, 0%, 0%, 0.3);
  aspect-ratio: 1;
  background-position: 50% 50%;
  background-size: cover;
}

.figcaption {
  padding: 1rem;
}